/* More space at the bottom of the page. */
.md-main__inner {
  margin-bottom: 1.5rem;
}

.md-typeset h1 {
  /*font-size: 24pt;*/
  font-weight: bold;
  color: rgb(238, 238, 238);
  id 2px #f18b21;
  padding-bottom: 5px;
}
.md-typeset h2 {
  border-bottom: 1px dotted #888;
}